<mat-tab-group animationDuration="1000ms">
    <mat-tab label="">
        <div>
            <mat-grid-list cols="4" rowHeight="200px">
                <mat-grid-tile rowspan="2" colspan="2" style="background-color: powderblue;">
                    <img class="g1" src="https://i.pinimg.com/564x/a5/73/c6/a573c63afe8fd02ebcb73131089f6df2.jpg" alt="">

                 </mat-grid-tile>
                 
                <mat-grid-tile style="background-color: powderblue;">
                    <img class="g2" src="https://i.pinimg.com/564x/5a/5f/f9/5a5ff96a5224272d8eb5d035127720d5.jpg" alt="">
                    
                </mat-grid-tile>
                <mat-grid-tile rowspan="2" style="background-color: powderblue;">
                    <img class="g3" src="https://i.pinimg.com/564x/1f/34/a8/1f34a863d1c18e4b7f4bc89a6b826f6f.jpg" alt="">
                </mat-grid-tile>
                <mat-grid-tile  style="background-color: powderblue;">
                    <img class="g4" src="https://i.pinimg.com/564x/b8/d5/1a/b8d51a23fbe6cb1e903ace196565215d.jpg" alt="">
                </mat-grid-tile>
                <mat-grid-tile rowspan="2" style="background-color: powderblue;">
                    <img class="g5" src="" alt="">
                </mat-grid-tile>
                <mat-grid-tile  style="background-color: powderblue;">
                    <img class="g6" src="" alt="">
                </mat-grid-tile>
              </mat-grid-list>
        </div>              
        </mat-tab>
        
    
    <mat-tab label="">
        <div class="mt2">
            <img class="img2" src="https://i.pinimg.com/564x/a5/73/c6/a573c63afe8fd02ebcb73131089f6df2.jpg" alt="one">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Author</mat-label>
                  <input matInput placeholder="Name" value="Name">
                </mat-form-field>
                <button class="btn1" type="submit">Save</button>
              
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="......"></textarea>
                </mat-form-field>
                <button class="btn2" type="submit">Edit</button>
                <button class="btn3" type="reset" >Reset</button>
              </form>
        </div> 
    </mat-tab>
    
    <mat-tab label="">
        <div class="mt2">
            <img class="img2" src="https://i.pinimg.com/564x/e3/e7/5c/e3e75c233f709b30538cca5e39b6fa46.jpg" alt="one">
        </div> 
    </mat-tab>
    
    <mat-tab label="">
        <div class="mt2">
            <img class="img2" src="https://i.pinimg.com/564x/39/84/7e/39847ee6be206f9b1453722956261147.jpg" alt="one">
        </div> 
    </mat-tab>
    
    <mat-tab label="">
        <div class="mt2">
            <img class="img2" src="https://i.pinimg.com/564x/8c/b1/f7/8cb1f773d581ff99bede558d0eb758ba.jpg" alt="one">
        </div> 
    </mat-tab>
    <mat-tab label="">
        <div class="mt2">
            <img class="img2" src="https://i.pinimg.com/564x/8c/b1/f7/8cb1f773d581ff99bede558d0eb758ba.jpg" alt="one">
        </div> 
    </mat-tab>
  </mat-tab-group>